@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.button {
    background-color: transparent;
    color: var(--cor-5);
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    margin: 15px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.button:hover {
    color: var(--cor-4);
    font-size: 12px;
}

.buttonInfos {
    border: none;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;

}

.buttonInfos:hover {
    color: var(--cor-6);
    font-size: 12px;

}