.buttonInfos {
    border: none;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.buttonInfos:hover {
    color: var(--cor-6);
    font-size: 12px;
}

.icon-css {
width: 20px;
height: 20px;


}